@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .responsive_text_center {
    @apply text-center md:text-left;
  }
}

.clap_lines {
  max-height: 4rem;
}

.header_bg {
  background-image: url("/pattern-bg-desktop.png");
  background-position: top;
}

.rubik_font {
  font-family: "Rubik", sans-serif;
}

.dark_gray {
  color: hsl(0, 0%, 59%);
}

.very_dark_gray {
  color: hsl(0, 0%, 17%);
}
