@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .responsive_text_center {
    @apply text-center md:text-left;
  }

  .clamp_lines {
    @apply md:min-h-[4rem] min-h-[2rem];
  }
}

.clamp_lines {
  max-height: 4rem;
}

.header_bg {
  background-image: url("/pattern-bg-mobile.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .header_bg {
    background-image: url("/pattern-bg-desktop.png");
  }
}

.rubik_font {
  font-family: "Rubik", sans-serif;
}

.dark_gray {
  color: hsl(0, 0%, 59%);
}

.very_dark_gray {
  color: hsl(0, 0%, 17%);
}
